<section class="page-padding"  data-ng-controller="cocCtrl">

    <div class="divider"></div>

  <div>
    <div class="md-whiteframe-z1">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <h3>About The Hosting Assured Trust Mark</h3>
          <span class="flex"></span>
          <button class="md-icon-button md-button " aria-label="View Source">
            <md-icon md-svg-icon="dist/img/icons/ic_grid_on_24px.svg"></md-icon>
          </button>
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
            <div layout="row">
			<div flex="100">	
            <p>The 
              Hosting Assured Trust Mark is an ethics process. A host that displays 
              the Hosting Assured Trust Mark has agreed to a <a href="/userapp/#/whatishac">code 
              of ethics</a>. If they do not act in accordance with the ethics 
              then they lose the ability to participate in the Hosting Assured 
              program.</p>
            <p align="center"><img width="426" height="175" src="/images/hosting-assured-company-site.png"></p>
            <p>The 
              trust mark contains a date (in the example above 2003), which should 
              match the current year. If it does not then the host is not authorized 
              to display the Hosting Assured Logo and is illegally displaying 
              the trust mark on their website.</p>
            <p>Clicking 
              on the Hosting Assured mark on the web hosts site opens a Hosting 
              Assured site specifically related to that host. From this website 
              a visitor can review Hosting Assured status, read customer reviews 
              and check reliability as measured by Alertra.</p>
            <p>A 
              customer can also rate the host and file a complaint / request mediation 
              of a problem by clicking on the web hosts Hosting Assured trust 
              mark. Both Hosting Assured and TheWebHostingDir.com share the same 
              customer review database.</p>
            <p><font size="4" color="#006600"><b>Problem Mediation</b></font></p>
            <p>Customers 
              of a Hosting Assured web host can request the help of Hosting Assured 
              if they feel the host is not living up to the Hosting Assured code 
              of ethics. A web based mediation process is opened with the aim 
              of finding a satisfactory conclusion to the complaint. If the web 
              host does not resolve the issue and refuses to comply with the code 
              of ethics, then the web host loses the ability to display Hosting 
              Assured on their site and cannot participate in the Hosting Assured 
              program. Hosting Assured cannot guarantee that any complaint will 
              result in a satisfactory outcome. For more details on how the mediation 
              process works <a href="/userapp/#/hacmedproc">Click Here</a></p>
            <p>While 
              a complaint is under mediation, it is visible to other customers 
              that a mediation is ongoing by a change of status from "In 
              Good Standing" to "Mediation On Going"</p>
            <p><font size="4" color="#006600"><b>What Hosting Assured Is Not</b></font></p>
            <p>Hosting 
              Assured is not a certification or any form of guarantee of the web 
              hosting companies future performance. </p>
            <p>To 
              become a Hosting Assured host a host must agree to the code of ethics. 
              Hosting Assured is <b>not</b> an accreditation, award or <b>any</b> 
              kind of mark of recognition for the web host.</p>
            <p>For 
              further information we kindly request that you read through our 
              <a href="/userapp/#/hactoc">Terms Of Use</a></p>
            
            </div>
		</div>
		</div>
      </md-content>
    </div>
  </div>
</section>    