<section class="page-padding"  data-ng-controller="cocCtrl">

    <div class="divider"></div>

  <div>
    <div class="md-whiteframe-z1">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <h3>How The Hosting Assured Mediation Process Works</h3>
          <span class="flex"></span>
          <button class="md-icon-button md-button " aria-label="View Source">
            <md-icon md-svg-icon="dist/img/icons/ic_grid_on_24px.svg"></md-icon>
          </button>
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
            <div layout="row">
            <p>The Hosting Assured mediation process is web based. The steps below occur after your customer begin the complaint process. </p>
			</div>
			<div layout="row">
            <table cellspacing="0" cellpadding="10" bordercolor="#CCCCCC" border="0" class="table">
              <tbody>
              <tr> 
                <td width="61%" valign="top">You can then enter the details of their complaint. They must enter a solution that would satisfy their complaint.</td>
                <td width="39%"> 
                  <div align="center"><img width="179" height="137" src="/images/file-complaint.png"></div>
                </td>
              </tr>
             
              <tr> 
                <td width="61%" valign="top"> 
                  <p>Once active, the you (web hosting company) will receive an email with details of complaint to respond. 
                    <br>
                    </p>
                  <p>The Hosting Assured status of the your web hosting company will also now have changed to <font color="#FF9900">"Mediation 
                    In Progress"</font></p>
                </td>
                <td width="39%"> 
                  <div align="center"><img width="158" height="40" src="/images/process.gif"></div>
                </td>
              </tr>
              <tr> 
                <td width="61%"> 
                  <p>The complaint mediation thread contains the details of customer complaint and requested outcome and also any responses by either <font color="#000000">you</font>, 
                    the <font color="#FF9900">customer</font> or by <font color="#006600">Hosting Assured</font>.</p>
                  <p>Each time a response is posted to the thread you will receive an email to let you know. The email will contain a link that allows you to read and add to the thread.</font></p>
                  <p>Each time you or Hosting Assured posts a response to the thread the customer will also receive an email to let them know you have made a response and a link so they can read and post to the thread.</p>
                </td>
                <td width="39%">
                  <div align="center"><img width="181" height="216" src="/images/complaint-detail.png"></div>
                </td>
              </tr>
              <tr> 
                <td colspan="2"> 
                  <p>Closing 
                    of the complaint thread can be done by the customer at any 
                    time using the link found at the top of the complaint thread 
                    page. If the customer closes the complaint the host will return 
                    to <font color="#006600">"In Good Standing"</font></p>
                  <p>Hosting 
                    Assured may raise the web hosting company Hosting Assured 
                    status to <font color="#FF0000">"Warning Given"</font> 
                    at any time.</p>
                  <p>The 
                    web hosting company cannot close a complaint.</p>
                  <p>If Hosting Assured closes the complaint it will be due to 
                    one of two possible reasons</p>
                  <ul>
                    <li>No 
                      solution was found and the web hosting company was dropped 
                      from the Hosting Assured program and can no longer display 
                      the trust mark on their website</li>
                    <li>Hosting 
                      Assured determined that the complaint / request was unreasonable 
                      or fraudulent, or a solution aligned with the hosting assured 
                      ethics was offered but not accepted by the customer. In 
                      this case the web hosting company Hosting Assured status 
                      will return to<font color="#006600"> "In Good Standing"</font></li>
                  </ul>
                </td>
              </tr>
            </tbody></table>
            </div>
		</div>
      </md-content>
    </div>
  </div>
</section>    