<section class="page-padding"  data-ng-controller="cocCtrl">

    <div class="divider"></div>

  <div>
    <div class="md-whiteframe-z1">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <h3>Hosting Assured Privacy Policy</h3>
          <span class="flex"></span>
          <button class="md-icon-button md-button " aria-label="View Source">
            <md-icon md-svg-icon="dist/img/icons/ic_grid_on_24px.svg"></md-icon>
          </button>
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
            <div layout="row">
				<div flex="100">
			<p><b><font size="4" color="#006600">What is a Privacy Policy?</font></b><br>
              Hosting Assured created a privacy policy (described herein) to show our dedication and commitment to the privacy of the users of our website. Please read the following to gain an understanding of our privacy policy. If you have any questions whatsoever regarding this policy, please fill out the <a href="http://twhdir.com/giveFeedback">feedback form</a> and a Hosting Assured representative will respond to your query as soon as possible.</p>
            <p><b><font size="4" color="#006600">What information do we collect from users and how is it used?</font></b><br>
              Hosting Assured is the sole owner of the information collected on this site. We will not sell, share, or rent this information to others in ways different from what is disclosed in this policy. At Hosting Assured we do not collect any personal information whatsoever, unless you choose to share such information (through Correspondence, see below). If you do choose to share personal information via some form of correspondence, such information will not be shared, sold, or rented to others whatsoever.</p>
            <p><b><font size="4" color="#006600">Correspondence</font></b><br>If you correspond with us via E-mail or you request that we mediate a problem you may have with a Hosting Assured web hosting company, we may gather the information in a file specific to you. This information is given to the hosting company that you’ve filed a complaint against him. We only collect the information that you provide to us. We will not sell, share, or rent the information that you share with us to others. Like many other websites, Hosting Assured collects information about users' utilization and navigation of our site. This information helps us to design our site to better suit our users' needs.</font></p>
            <p><b><font size="4" color="#006600">Does the Hosting Assured website use cookies? If so, how are cookies used on the website?
              </font></b><br>Cookies are small files placed on your computer that contain only a unique number. We use this number to recognize your computer when a user of your computer returns. Like most major websites, Hosting Assured uses cookies on certain pages of our site. These cookies strictly identify your computer, our cookies do not contain any personal information about you.</p>
            <p><b><font size="4" color="#006600">What are the policies of linked sites and other third parties?
              </font></b><br>This privacy policy only addresses the use and disclosure of information we collect from you. Although you may interact with hosting companies as a result of visiting our site, or link to other sites or third parties via our website, Hosting Assured is not responsible for the privacy practices of third parties or the content of linked sites. We encourage you to read the posted privacy policy whenever interacting with any website.</p>
            <p><b><font size="4" color="#006600">How will I know about changes in the Privacy Policy?
              </font></b><br>Hosting Assured reserves the right to update this privacy policy from time to time. Please visit this page periodically so that you will be apprised of any changes. However, we will only use Personally Identifiable Information in accordance with the Privacy Policy that was in effect at the time the information was collected. If at any point we should decide to use that information differently, we will notify users by way of E-mail so that users can approve or disapprove of such use.</p>
            
				</div>
			</div>
		</div>
      </md-content>
    </div>
  </div>
</section>    