<section class="page-padding"  data-ng-controller="cocCtrl">
    <div class="divider"></div>
    <div>
        <div class="md-whiteframe-z1">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h3>Web Hosting Companies - How To Join Hosting Assured?</h3>
                    <span class="flex"></span>
                    <button class="md-icon-button md-button " aria-label="View Source">
                        <md-icon md-svg-icon="dist/img/icons/ic_grid_on_24px.svg"></md-icon>
                    </button>
                </div>
            </md-toolbar>
            <md-content>
                <div class="md-content__body">
                    <div layout="row">
                        <div flex="100" class="text-center" ng-show="coc_approve">
						
<p><img src="https://www.thewebhostingdir.com/images/hosting-assured-company-logo.png"><br><br><b>Your are already a Hosting Assured Certified Company.</b> 
							</p>
						</div>
						<div flex="100" ng-hide="coc_approve">
                            <div id="codarea" ng-hide="coc_approve">
                                <p>It is currently free to become a Hosting Assured host. To join Hosting Assured you must agree to a <a href="/userapp/#/whatishac">code of customer ethics</a> and you must display the Hosting Assured trust mark on your site.</p>
								
								<p><b>Step 1:</b> Make sure that your business has a valid Support <a href="/userapp/#/company/editcompanydetail" target="_blank">Phone number</a> in profile. 
								<md-icon class="md-primary md-theme-default" md-svg-icon="dist/img/icons/ic_done_24px.svg" ng-show="phone" ></md-icon>
								<md-icon class="md-accent md-theme-default" md-svg-icon="dist/img/icons/ic_clear_24px.svg" ng-hide="phone" ></md-icon>
								
								<br /><br /></p>
								
								<p ><b>Step 2:</b> Make sure that your business has a valid <a href="/userapp/#/company/editcompanydetail"  target="_blank">Address</a> on profile. <md-icon class="md-primary md-theme-default" md-svg-icon="dist/img/icons/ic_done_24px.svg" ng-show="address" ></md-icon> <md-icon class="md-accent md-theme-default" md-svg-icon="dist/img/icons/ic_clear_24px.svg" ng-hide="address" ></md-icon><br /><br /></p>
								
								<p ><b>Step 3:</b> Copy and paste the following HTML code on main page of your website. This code will display a seal and a button on your website to verify your "Hosting Assured Company" status of your website. <br /><br /></p>
                                
                                <div layout="row" >
                                    <div flex="70">
                                        <textarea name="code_html" id="code_html" readonly="true" ng-model="htmlcode" onclick="this.select();" cols="70" class="height_150" >{{htmlcode}}</textarea>
                                    </div>
                                    <div flex="30"><b>Seal Image Preview:</b>
                                        <!-- Image Map Generated by http://www.image-map.net/ -->
                                        <img src="https://hostingassured.thewebhostingdir.com/hostingassured-seal" usemap="#image-map" alt="{{cocComUrl}} Hosting Assured Company seal" border="0" align="middle">

                                        <map name="image-map">
                                            <area target="_blank" alt="{{cocComUrl}} Hosting Assured Company seal" title="{{cocComUrl}} Hosting Assured Company seal" href="https://hostingassured.thewebhostingdir.com/" coords="127,0,1,101" shape="rect">
                                            <area target="_blank" alt="TheWebHostingDir" title="TheWebHostingDir" href="https://www.thewebhostingdir.com/" coords="4,103,124,110" shape="rect">
                                        </map>
                                    </div>
                                </div>
								<br /><br />
								<p ><b>Step 4:</b> Once step 3 is completed, click "Click to verify Button" to verify Hosting Assured Seal on your website.<br /><br /></p>
								<p ng-show="!coc_approve"><b>Step 5:</b> If the seal is verified, you're enrolled in "Hosting Assured Company" program.<br /><br /><br /></p>
								<div class="{{msgtype}}" ng-show="msgtxt">
                                        {{msgtxt}}
                                </div>
                                <form name="coc_chk" action="" method="post" >
								
                                    <div class="text-center">
									<!--<input type="hidden" name="page_url" value="{{page_url}}" />-->
                                        <md-button ng-click="verifycoc()" class="btn-width-medium md-raised md-primary" >Click To Verify</md-button>
                                    </div>   
                                    
                                </form>
                            </div>
                            <!--<div flex="30">
                                            <table cellspacing="5" cellpadding="5" bordercolor="#666666" border="1" width="100%" class="table">
                                              <tbody><tr> 
                                                <td bgcolor="#339933"> 
                                                  <div align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" style="color:#FFF" ><b>Code of Compliance ethics</b></font></div>
                                                </td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFCC"> 
                                                  <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">All 
                                                    information and claims presented to the customer 
                                                    will be 100% accurate.</font></div>
                                                </td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFF99"> 
                                                  <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">All 
                                                    web hosting services will be supplied as agreed.</font></div>
                                                </td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFCC"> 
                                                  <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">The 
                                                    customer will be treated with fairness and honesty.</font></div>
                                                </td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFF99"> 
                                                  <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
                                                    All planned service outages will be well communicated 
                                                    in advance. </font></div>
                                                </td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFFCC"> 
                                                  <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">All 
                                                    communication with the customer will be timely 
                                                    and responsive.</font></div>
                                                </td>
                                              </tr>
                                              <tr> 
                                                <td bgcolor="#FFFF99"> 
                                                  <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Every 
                                                    effort will be made to resolve all valid complaints 
                                                    in a professional and timely fashion.</font></div>
                                                </td>
                                              </tr>
                                            </tbody></table>
                                                    </div>
                                            </div>-->
                        </div>
                        </md-content>
                    </div>
                </div>
                </section>    