<section class="page-padding"  data-ng-controller="cocCtrl">

    <div class="divider"></div>

  <div>
    <div class="md-whiteframe-z1">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <h3>What is Hosting Assured Company?</h3>
          <span class="flex"></span>
          <button class="md-icon-button md-button " aria-label="View Source">
            <md-icon md-svg-icon="dist/img/icons/ic_grid_on_24px.svg"></md-icon>
          </button>
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body">
            <div layout="row">
				<div flex="100">
				<p><b><font size="4" color="#006600">What is Hosting Assured Program?</font></b></p>
				<ul>
				<li>Hosting Assured seal is TheWebHostingDir.com's seal of customer excellence. To display the Hosting Assured seal on your site you must agree to abide by a code 	of customer ethics. </li>
				<li>Hosting Assured seal is an ethics trust mark that hundreds of web hosting companies display on their website and agree to abide by. </li>
				<li>Hosting Assured is not a certification or award. </li>
				<li>Hosting Assured gathers praise comments from your customers which are then available to anybody who clicks on the seal on your site. Hosting Assured also offers to mediate complaints should an unsolveable problem arise.</li>
				</ul>
				</div>
			</div>
			<div layout="row">
			<div flex="100">
			<table cellspacing="0" cellpadding="0" border="0" width="100%">
              <tbody><tr> 
                <td width="60%"> 
                  <table cellspacing="0" cellpadding="4" border="0" align="center" width="100%">
                    <tbody>
					<tr><td colspan="2">
					<p><b><font size="4" color="#006600">What if a problem arises between customer and web hosting company?</font></b></p>
					</td></tr>
                    <tr> 
                      <td width="6%" valign="top"> 
                        <div align="center"><md-icon class="md-primary md-theme-default" md-svg-icon="dist/img/icons/ic_done_24px.svg" ></md-icon></div>
                      </td>
                      <td width="94%">
					  If a problem arises between a customer and Hosting Assured Host, and if customer cannot resolve it directly with the web hosting company.<ul>
                          <li>Hosting Assured can help.</li>
                          <li>Hosting Assured cannot guarantee a solution will be reached, but we will do our best to help mediate the problem.</li>
                          <li>If you (web host) does not abide by the code of ethics in their dealings with customer, then your Hosting Assured status will be removed.</li>
                          <li>This provides you with an additional level of peace of mind to customer. <br><br>
							<a href="http://thewebhostingdirv2.local/userapp/#/hacmedproc">Click Here</a> to learn more about how the Hosting Assured mediation process works.</li>
                        </ul>
                      </td>
                    </tr>
					<tr><td colspan="2">
					<p><b><font size="4" color="#006600">Benefits of Being A Hosting Assured Host</font></b></p>
					</td></tr>
					<tr> 
                      <td width="6%" valign="top"> 
                        <div align="center"><md-icon class="md-primary md-theme-default" md-svg-icon="dist/img/icons/ic_done_24px.svg" ></md-icon></div>
                      </td>
                      <td width="94%">
                      Offers additional differentiation in a competitive market
                                <ul>
                                    <li>Potential 
                                        and existing customers are offered additional peace of mind due 
                                        to your agreement to the ethics, ongoing maintaining of a good 
                                        Hosting Assured status and a mediation process should problems 
                                        arise</li>
                                    <li>Potential 
                                        customers can click on your Hosting Assured trust mark located 
                                        on your website and instantly review your customer ratings, and 
                                        check your reliability as measured by a 3rd party</li>
                                </ul>
					</td></tr>
                  </tbody></table>
                </td>
                <td> 
                  <table cellspacing="0" cellpadding="0" border="0" bgcolor="#333333" width="94%">
                    <tbody><tr> 
                      <td> 
                        <table cellspacing="1" cellpadding="3" bordercolor="#666666" border="1" width="100%" class="table">
                          <tbody><tr> 
                            <td bgcolor="#339933"> 
                              <div align="center" style="color:#FFF"><b>Hosting Assured Code of Ethics</b></div>
                            </td>
                          </tr>
                          <tr> 
                            <td bgcolor="#FFFFCC"> 
                              <div align="left">All information and claims presented to the customer will be 100% accurate.</div>
                            </td>
                          </tr>
                          <tr> 
                            <td bgcolor="#FFFF99"> 
                              <div align="left">All web hosting services will be supplied as agreed.</div>
                            </td>
                          </tr>
                          <tr> 
                            <td bgcolor="#FFFFCC"> 
                              <div align="left">The customer will be treated with fairness and honesty.</div>
                            </td>
                          </tr>
                          <tr> 
                            <td bgcolor="#FFFF99"> 
                              <div align="left">All planned service outages will be well communicated in advance.</div>
                            </td>
                          </tr>
                          <tr> 
                            <td bgcolor="#FFFFCC"> 
                              <div align="left">All communication with the customer will be timely and responsive.</div>
                            </td>
                          </tr>
                          <tr> 
                            <td bgcolor="#FFFF99"> 
                              <div align="left">Every effort will be made to resolve all valid complaints in a professional and timely fashion.</div>
                            </td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody></table>
			</div>
			</div>
			<div layout="row">
				<div flex="100">
				                <p><b><font size="4" color="#006600">How The Hosting Assured Trust Mark Functions On Your Site?</font></b></p>
                                <p>When 
                                    a visitor to your website clicks on your valid Hosting Assured trust 
                                    mark logo they do not get transported to this site. A special Hosting 
                                    Assured site that relates to your company is opened. This shows 
                                    your Hosting Assured status, your current customer rating score 
                                    plus access to the detailed ratings and the ability to check your 
                                    reliability.</p>
				 </div>
			</div>
			</div>
		</div>
      </md-content>
    </div>
  </div>
</section>    