<section class="page-padding"  data-ng-controller="changepasswordCtrl">

    <div class="divider"></div>

  <div>
    <div class="md-whiteframe-z1">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <h3>Change Password</h3>
          <span class="flex"></span>
          <button class="md-icon-button md-button " aria-label="View Source">
            <md-icon md-svg-icon="dist/img/icons/ic_grid_on_24px.svg"></md-icon>
          </button>
        </div>
      </md-toolbar>

      <md-content>
        <div class="md-content__body" style="padding:40px;">
		<aside data-ng-include="'app/common/message/message.html'" id="msgarea"></aside>
            <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
             
                <div layout="row">
                    <div flex="70">
                      <md-input-container>
                        <label>Old Password <sup style="color:red">*</sup></label>                  
                        <input type="password" class="form-control" required data-ng-model="user.oldpass">                  
                      </md-input-container>
                  </div>
                </div>
               <div layout="row">
                    <div flex="70">
                      <md-input-container>
                        <label>New Password <sup style="color:red">*</sup></label>                  
                        <input type="password" class="form-control" required data-ng-model="user.newpass" minlength="8" >                  
                      </md-input-container>
                  </div>
                </div> 
              <div layout="row">
                    <div flex="70">
                      <md-input-container>
                        <label>Confirm New Password <sup style="color:red">*</sup></label><input type="password" id="confpassword" class="form-control" required data-ng-model="user.connewpass" minlength="8"></md-input-container>
                  </div>
                </div>   
                <md-button data-ng-click="submitForm()" class="btn-width-medium md-raised md-primary" data-ng-disabled="!canSubmit()">Submit</md-button>
            </form>
        </div>
      </md-content>
    </div>
  </div>
</section>    