<section class="page-padding"  data-ng-controller="addcdnCtrl">

    <div class="divider"></div>

    <div>
        <div class="md-whiteframe-z1">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h3 style="text-transform:capitalize;">{{user.action.toLowerCase()}}  CDN Plan</h3>
                    <span class="flex"></span>
                    <button class="md-icon-button md-button " aria-label="View Source">
                        <md-icon md-svg-icon="dist/img/icons/ic_grid_on_24px.svg"></md-icon>
                    </button>
                </div>
            </md-toolbar>

            <md-content>
                <div class="md-content__body">
                    <aside data-ng-include="'app/common/message/message.html'" id="msgarea"></aside>
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">

                        <div class="form-group">
                            <md-input-container>
                                <label>Name</label>                  
                                <input type="text" class="form-control" required data-ng-model="user.plan_name">                  
                            </md-input-container>
                        </div>
                        <div class="form-group">

                            <md-input-container>                  
                                <label>Country</label>                  
                                <div ng-controller="SelectCtrl">
                                    <md-select  multiple="true" aria-label="Test select" ng-model="user.country">
                                        <md-option value=""></md-option>

                                        <md-option data-ng-repeat='(key,item) in arrCountry' class="md-primary" value='{{key}}'>{{item.name}}</md-option>

                                    </md-select>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row"> 
                            <div flex="30">

                                <md-input-container>
                                    <div layout="row"> 
                                        <div flex="100">
                                            <div flex="20"  class="flex-20">
                                                <label>Monthly Transfer  </label>
                                            </div>
                                            <div flex="60"  class="flex-60">
                                                <input type="text"
                                                       class="form-control"
                                                       size="30" 
                                                       name="monthly_transfer"
                                                       data-ng-trim='false'
                                                       data-ng-model="user.monthly_transfer"

                                                       >
                                            </div>
                                            <div> &nbsp;&nbsp;GB
                                            </div>    
                                        </div>
                                    </div> 
                                </md-input-container>

                            </div>

                        </div>
                        <div layout="row"> 
                            <div flex="30">

                                <md-input-container>
                                    <div layout="row"> 
                                        <div flex="100">
                                            <div flex="20"  class="flex-20">
                                                <label>Monthly Price  </label>
                                            </div>
                                            <div flex="60"  class="flex-60">
                                                <input type="text"
                                                       class="form-control"
                                                       size="30" 
                                                       name="monthly_price"
                                                       data-ng-trim='false'
                                                       data-ng-model="user.monthly_price"

                                                       >
                                            </div>
                                            <div> &nbsp;&nbsp;$
                                            </div>    
                                        </div>
                                    </div> 
                                </md-input-container>

                            </div>
                            <div flex="30">

                                <md-input-container>
                                    <div layout="row"> 
                                        <div flex="100">
                                            <div flex="20"  class="flex-20">
                                                <label>Setup Fees  </label>
                                            </div>
                                            <div flex="60"  class="flex-60">
                                                <input type="text"
                                                       class="form-control"
                                                       size="30" 
                                                       name="setup_fees"
                                                       data-ng-trim='false'
                                                       data-ng-model="user.setup_fees"

                                                       >
                                            </div>
                                            <div> &nbsp;&nbsp;$
                                            </div>    
                                        </div>
                                    </div> 
                                </md-input-container>

                            </div>
                        </div>
                        <div layout="row">   
                            <div flex="30">

                                <md-input-container>
                                    <div layout="row"> 
                                        <div flex="100">
                                            <div flex="20"  class="flex-20">
                                                <label>Additional Bandwidth Price  </label>
                                            </div>
                                            <div flex="60"  class="flex-60">
                                                <input type="text"
                                                       class="form-control"
                                                       size="40" 
                                                       name="additional_price"
                                                       data-ng-trim='false'
                                                       data-ng-model="user.additional_price"                           
                                                       >
                                            </div>
                                            <div> &nbsp;&nbsp;$/GB
                                            </div>    
                                        </div>
                                    </div> 
                                </md-input-container>
                            </div>

                            <div flex="30">

                                <md-input-container>
                                    <div layout="row"> 
                                        <div flex="100">
                                            <div flex="20"  class="flex-20">
                                                <label>CDN Storage Price  </label>
                                            </div>
                                            <div flex="60"  class="flex-60">
                                                <input type="text"
                                                       class="form-control"
                                                       size="40" 
                                                       name="storage_price"
                                                       data-ng-trim='false'
                                                       data-ng-model="user.storage_price"

                                                       >
                                            </div>
                                            <div> &nbsp;&nbsp;$/GB
                                            </div>    
                                        </div>
                                    </div> 
                                </md-input-container>

                            </div> 
                        </div>  
                        <div layout="row">
                            <div flex="30" >
                                <md-input-container>                  
                                    <p>Support 
                                    </p>
                                    <md-checkbox class="md-primary" ng-model="user.audio_video" value="Y" ng-true-value="'Y'"  aria-label="Audio / Video">
                                        Audio / Video 
                                    </md-checkbox>
                                    <md-checkbox class="md-primary" ng-model="user.sup_https" value="Y" ng-true-value="'Y'" aria-label="HTTPS">
                                        HTTPS
                                    </md-checkbox>
                                </md-input-container>
                            </div>  
                        </div>  
                        <div layout="row">   
                            <div flex="30">

                                <md-input-container>
                                    <div flex="100">
                                        <label>Description </label>
                                        <textarea ng-model="user.description" cols="100" rows="4" id="textarea1" class="materialize-textarea"></textarea>
                                    </div>         
                                </md-input-container>
                            </div>


                        </div> 



                        <div layout="row">   

                            <div flex="30">

                                <md-input-container>
                                    <label>Plan URL   </label>
                                    <input type="text"
                                           class="form-control"
                                           size="100" 
                                           name="plan_url"
                                           data-ng-trim='false'
                                           data-ng-model="user.plan_url"

                                           >
                                </md-input-container>

                            </div> 
                        </div>








                        <input type="hidden" ng-model="user.id">     
                        <input type="hidden" ng-model="user.submitaction">
                        <input type="hidden" ng-model="user.submit">
                        <input type="hidden" ng-model="user.id_company">   

                        <md-button class="btn-width-medium md-raised md-primary" ng-click='submitForm()' ng-disabled='canSubmit()'>Submit</md-button>


                        <div class="callout-elem callout-elem-info">
                            <p>Submit button will be active only when all fields are valid.</p>


                        </div>
                    </form>
                </div>
            </md-content>
        </div>
    </div>
</section>    